<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"> 

    <link href= "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"> </script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    
      function ref(){
      $.ajax({
        url: "/sucess",
        type: "get",
        success: function(response) {
          $("#dataref").html(response);
        },
        error: function(xhr) {
          //Do Something to handle error
        }
      });
  }

  function imref(){
      $.ajax({
        url: "/table",
        type: "GET",
        success: function(response) {
            $("#imgref").attr('src', response + '?' + new Date().getTime());
          //console.log(response);
        },
        error: function(xhr) {
          //Do Something to handle error
        }
      });
  }

  function ref1(){
      $.ajax({
        url: "/objectsucess",
        type: "get",
        success: function(response) {
          $("#dataref1").html(response);
        },
        error: function(xhr) {
          //Do Something to handle error
        }
      });
  }

  function imref1(){
      $.ajax({
        url: "/table1",
        type: "GET",
        success: function(response) {
            $("#imgref1").attr('src', response + '?' + new Date().getTime());
          //console.log(response);
        },
        error: function(xhr) {
          //Do Something to handle error
        }
      });
  }
      window.onload = setInterval("ref();",1000);
      window.onload = setInterval("imref();",5000);
      window.onload = setInterval("ref1();",1000);
      window.onload = setInterval("imref1();",5000);
      </script>

</head> 
    <title></title>
    <style>

        .container{
        
        border-radius: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        }
        p{
            color: whitesmoke;
        }
        .stt a:hover{
            color: #1B4965 !important;
        }
        p.card-text{
            margin-top: 8px !important;
            margin-bottom: 0px !important;
        }
        h5.card-title
        {
            margin-bottom: 7px !important;
        }
        #dataref {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
        #dataref1
        {
            margin-top: 0px !important;
            margin-bottom: 10px !important;
        }
        </style>
 
    <body style="background-color:#62b6cb ;background-image: url('static/Rectangle1.png');background-size: cover;">
        <div style="height: 100vh; background-image: url('static/Rectangle.png');background-repeat: no-repeat;background-size: cover;background-position-x: 715px;">
            <div style="display:flex;flex-direction:row;justify-content: space-between">
            <h4 style="padding: 1.3%; font-weight: 700; font-size: 30px; color: #1B4965;">Fugitive Detection traffic System</h4>
            <div style="display:flex;flex-direction:row;padding:2%;">
                <h5 style="margin-left: 30px;margin-right: 27px;font-family: 'Ubuntu', sans-serif;color: white;cursor: pointer;font-size: medium; font-weight: 700;" class="stt"><a style="text-decoration: none;color: white;" href="/clist">Fugitives found</a></h5>
                <h5 style="margin-left: 30px;margin-right: 27px;font-family: 'Ubuntu', sans-serif;color: white;cursor: pointer;font-size: medium; font-weight: 700;" class="stt"><a style="text-decoration: none;color: white;" href="/glist">Weapons found</a></h5>
                <h5 style="margin-left: 30px;margin-right: 27px;font-family: 'Ubuntu', sans-serif;color: white;cursor: pointer;font-size: medium; font-weight: 700;" class="stt"><a style="text-decoration: none;color: white;" href="#">Contact</a> </h5>
                <h5 style="margin-left: 30px;margin-right: 27px;font-family: 'Ubuntu', sans-serif;color: white;cursor: pointer;font-size: medium; font-weight: 700;" class="stt"><a style="text-decoration: none;color: white;" href="#">About Us </a></h5>
                <h5 style="margin-left: 30px;margin-right: 27px;font-family: 'Ubuntu', sans-serif;color: white;cursor: pointer;font-size: medium; font-weight: 700;" class="stt"><a style="text-decoration: none;color: white;" href="/logout">Logout</a></h5>
            </div>
            </div>
            <div style="display:flex;flex-direction:row; justify-content: space-evenly;align-items: center;">
                <div>
                    <div style="height: 500px;width: 500px;background-color: rgba(0, 0, 0, 0.171);border-radius: 20px; overflow:hidden; position: relative;">
                        <p style="color: #1B4965; opacity: 0.8; font-size: 18px; font-weight: 500;  margin: 0px !important; padding-left: calc(50% - 61px) !important; padding-top: 5px; position: absolute;">Trafficcamera-1</p>
                        <img src="{{ url_for('video_feed') }}" height="100%" width="100%">
                    </div>
                </div>

                <div >
                    <div style="border-radius: 27px;background-color: #1B4965;width: 350px; margin: 10px 10px 15px 10px;" class="card ">
                        <div style="border: 0.5px solid #1B4965 ;border-radius: 27px;background-color: #1B4965 ;"class="card-body container">
                            <div style="border: 0.5px solid #ffffff;border-radius: 27px;height:180px;margin: 0px 15px 0px 15px;" class="card ">
                                <div  style="border: 0.5px solid #e6d5d5;border-radius: 27px;height:400px;width: 255px; margin: 10px 10px 10px 10px; overflow:hidden;"class="card ">
                                     <img id = "imgref" src="static/crim_found/none.jpg" height="100%" width="100%"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="border-radius: 27px;background-color: #1B4965;" class="card">
                        <div style="border: 0.5px solid #1B4965 ;border-radius: 27px;background-color: #1B4965;"class="card-body container" id = "dataref" >
                            <h5 style="color: whitesmoke; text-align: center;" class="card-title">Fugitive Details</h5>
                                <p class="card-text">Name:     &ensp;  &emsp;  &emsp;&emsp;&emsp;   -</p>
                                <p class="card-text">Age:      &ensp;   &emsp;&emsp; &emsp;&emsp;&emsp;   -</p>
                                <p class="card-text">Sex:      &nbsp; &nbsp;   &emsp;&emsp; &emsp;&emsp;&emsp;   -</p>
                                <p class="card-text">Height:   &nbsp;   &emsp; &emsp;&emsp;&emsp;   - </p>
                                <p class="card-text">Threat level: &ensp; &nbsp; &nbsp; &emsp;  - </p>
                                <p class="card-text">No of crimes: &ensp; &nbsp; &emsp;  - </p>
                                <p class="card-text">Date and time: &ensp; &emsp;  - </p>
                                <p class="card-text">Location: &nbsp; &emsp; &emsp;&ensp;&ensp; &nbsp;  - </p>
                        </div>
                    </div>
                </div>





                <div>
                    <div style="border-radius: 27px;background-color: #1B4965;width: 350px; margin: 10px 10px 15px 10px;" class="card ">
                        <div style="border: 0.5px solid #1B4965 ;border-radius: 27px;background-color: #1B4965 ;"class="card-body container">
                            <div style="border: 0.5px solid #ffffff;border-radius: 27px;height:180px;margin: 0px 15px 0px 15px;" class="card ">
                                <div  style="border: 0.5px solid #e6d5d5;border-radius: 27px;height:400px;width: 255px; margin: 10px 10px 10px 10px; overflow:hidden;"class="card ">
                                     <img id = "imgref1" src="static/crim_found/none.jpg" height="100%" width="100%"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="border-radius: 27px;background-color: #1B4965;height: 321.6px; " class="card">
                        <div style="border: 0.5px solid #1B4965 ;border-radius: 27px;background-color: #1B4965;"class="card-body container" id = "dataref1" >
                            <h5 style="color: whitesmoke; text-align: center; padding-bottom: 20px;" class="card-title">Weapon Details</h5>
                                <p class="card-text">Weapon:     &ensp;  &emsp;  &emsp;&emsp;&emsp;   -</p>
                                <p class="card-text">Class:      &nbsp;  &ensp;   &emsp;&emsp; &emsp;&emsp;&emsp;   -</p>
                                <p class="card-text">Threat level: &ensp; &nbsp; &emsp; &emsp;  - </p>
                                <p class="card-text">Date and time:  &nbsp; &emsp; &nbsp;  &nbsp; - </p>
                                <p class="card-text">Location: &nbsp; &emsp; &ensp; &emsp;&ensp;&ensp; &nbsp;   - </p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 200px; background-color: #1B4965;margin-top: 100px;">

            </div>
        </div>
    </body>
</html>