<h5 style="color: whitesmoke; text-align: center; padding-bottom: 20px; " class="card-title">Weapon Details</h5>
<p class="card-text">Weapon:     &ensp;  &emsp;  &emsp;&emsp;&emsp;   {{ wea }}</p>
<p class="card-text">Class:    &nbsp;  &ensp;   &emsp;&emsp; &emsp;&emsp;&emsp;   {{ cla }}</p>
<p class="card-text">Threat level: &ensp; &nbsp; &emsp; &emsp;  {{ dan }} </p>
<p class="card-text">Date and time: &nbsp; &emsp; &nbsp;  &nbsp;  {{ dat }} </p>
<p class="card-text">Location: &nbsp; &emsp; &ensp; &emsp;&ensp;&ensp; &nbsp;  {{ addre }} </p>