<h5 style="color: whitesmoke; text-align: center;" class="card-title">Criminals Details</h5>
<p class="card-text">Name:     &ensp;  &emsp;  &emsp;&emsp;&emsp;   {{ cri }}</p>
<p class="card-text">Age:      &ensp;   &emsp;&emsp; &emsp;&emsp;&emsp;   {{ ag }}</p>
<p class="card-text">Sex:      &nbsp; &nbsp;   &emsp;&emsp; &emsp;&emsp;&emsp;   {{ se }}</p>
<p class="card-text">Height:   &nbsp;   &emsp; &emsp;&emsp;&emsp;   {{ he }} </p>
<p class="card-text">No of crimes: &ensp; &nbsp; &emsp;  {{ noc }} </p>
<p class="card-text">Types of crime: &ensp;&emsp;  {{ toc }} </p>